<div class="btn-group" id="sign-out-btn">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SafeTravels <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/users/manage">Account Manager</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="javascript: logout()" id="sign-out">Sign Out</a></li>
  </ul>
</div>