<div class="container">
  <div class="row">
    {{!-- removing this side panel since this will be now in the new landing page --}}
 {{!--  <div class="col-xs-3">
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Create an Account</strong></h3>
    </div>
    <div class="panel-body">
      <form>
      <div class="form-group">
        <label for="username-input">Username</label>
        <input class="form-control" id="username-input" type="text">
      </div>
      <div class="form-group">
        <label for="password-input">Password</label>
        <input class="form-control" id="password-input" type="password">
      </div>
      <div class="form-group">
       <label for="Confirm-password-input">Confirm-Password</label>
       <input class="form-control" id="Confirm-password-input" type="password">
      </div>
      <div class="form-group">
        <label for="email-input">Email</label>
        <input class="form-control" id="email-input" type="text">
      </div>
        <button class="btn btn-primary" id="add-user" type="submit">Submit</button>
      </form>
    </div>
    </div>
  </div> --}}
    
      {{!-- removing the vertical form to be replaced by an inline one --}}
      {{!-- <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Where Are You Going?</strong></h3>
        </div>
        <div class="panel-body">
          <form>
          <div class="form-group">
            <form action="" method="post" name="form_citydetails" id="form_citydetails" enctype="multipart/form-data" onsubmit="return false;">
              <label for="city-input">Search by City</label>
              <input class="ff_elem form-control" type="text" name="ff_nm_from[]" value="" id="f_elem_city"/>
            </form>
          </div>
          <div class="form-group">
            <label for="departure-input">Departure Date</label>
            <input class="form-control" id="departure-input" type="date">
          </div>
          <div class="form-group">
            <label for="Return-input">Return Date</label>
            <input class="form-control" id="Return-input" type="date">
          </div>
          <button class="btn btn-default" id="search-btn" type="search">Search</button>
        </form>
        </div>
      </div>
    </div> --}}

    <div class="col-xs-10 col-xs-offset-1">
      <form class="form-inline" action="" method="post" name="form_citydetails" id="form_citydetails" enctype="multipart/form-data" onsubmit="return false;">
        <div class="form-group">
          <label id="search-form-label" for="f_elem_city">Search by City</label>
          <input class="ff_elem form-control" type="text" name="ff_nm_from[]" value="" id="f_elem_city" placeholder="Enter City" />
        </div>
        <div class="form-group">
          <label id="search-form-label" for="departure-input">Departure Date</label>
          <input type="date" class="form-control" id="departure-input">
        </div>
        <div class="form-group">
          <label id="search-form-label" for="return-input">Return Date</label>
          <input type="date" class="form-control" id="return-input">
        </div>
        <button type="search" class="btn btn-default" id="search-btn">Search</button>
      </form>
    </div>
    {{!-- end of column --}}
  </div> 
  {{!-- end of row --}}

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div id="map">
        
      </div>
      {{!-- <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6aSsAsp9fRnCVn31vt9559Qz6S6dqYrM&callback=initMap">
      </script>--}}
    </div>
  </div>
</div>