.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
  text-align:left;
  font-size:14px;
  }
.ui-autocomplete-loading { 
  background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat; 
  }