#map {
  height: 600px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
   background: url('/assets/images/cute_girl_with_dog_edited.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-blend-mode: overlay;*/
}

.jumbotron {
  background : rgba(179,93,76, 0.20);
  /*background : rgba(198, 164, 79, 0.30);*/
  /*background : rgba(152, 105, 61, 0.20);*/
  /*background: rgba(88, 55, 34, 0.35);*/
  /*background: rgba(200, 54, 54, 0.25); */
}

#slogan {
  font-family : Rajdhani, "Great Vibes", cursive;
}

.panel {
  background : rgba(28, 41, 60, 0.85); 
}

.modal-content {
  background : rgba(28, 41, 60, 0.70); 
}

label, #need-acct {
  color : white;
}

.form-inline {
  background: rgba(88, 55, 34, 0.20);
  padding : 5px 5px 5px 10px;
}

.form-inline .form-group {
  margin-right : 15px;
}

#departure-input, #return-input {
  padding : 0px;
}

#search-btn {
  margin-left : 15px;
}

#search-form-label {
  color : #000000;
}

#sign-up {
  font-weight: bold
} 

#x-close {
  color : #ffffff;
}
