#map {
  height: 600px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
   background: url('/assets/images/cute_girl_with_dog.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-blend-mode: overlay;*/
}

.jumbotron {
   background: rgba(200, 54, 54, 0.25); 
}

.panel {
  background : rgba(28, 41, 60, 0.85); 
}

label, #need-acct {
  color : white;
}

#sign-up {
  font-weight: bold
} 
